@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*
--> TITULOS
lora-<uniquifier> 
font-family: "Lora", serif;
font-weight: <weight>;
font-style: normal;

--> TEXTOS
open-sans-<uniquifier> 
font-family: "Open Sans", sans-serif;
font-weight: <weight>;
font-style: normal;


--> PALETA DE COLORES
bba694 = A3B18A  =  232323
ffffd5 =         =
9b7239 = 588157  = 88715b
7a551c = 3A5A40  =
*/

body {
  background-color: #373636;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  z-index: 100;
}

.header__logo {
  padding: 1.5rem;
  margin: 2rem;
  font-size: 2rem;
  font-family: "Lora", serif;
  text-decoration: none;
  color: #dad7cd;
  background: #88715b;
  font-weight: 700;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a:hover {
  background-color: #88715b;
  transition: background-color 0.5s;
}

.nav-list li a {
  text-decoration: none;
  color: #dad7cd;
  font-family: "Lora", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.2rem;
  padding: 1rem;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 750px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #dad7cd;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
    height: 12rem;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ecececec;
  }
}

/* CONTENIDO HEADER VIDEO*/

.seccionVideo {
  height: 100vh;
  width: 100%;
}
.contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.seccionVideo__video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(15%);
}

.seccionVideo {
  height: 85vh;
  width: 100%;
}
.seccionVideo__contenido {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.seccionVideo__titulo {
  font-family: Jost;
  color: beige;
  font-size: 7rem;
}

/* TEXTO HEADER*/

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.contenedor__titulo {
  font-family: "Lora", serif;
  font-size: 4.5rem;
  color: #7a551c;
  line-height: 0;
}

.contenedor__titulo h2 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #88715b;
  line-height: 0.78;
}

.contenedor__titulo h2 span {
  background: #88715b;
  color: #ffffd5;
  padding: 1rem;
  font-family: "Lora", serif;
  font-weight: 600;
}

.contenedor__titulo p {
  font-size: 2.8rem;
  line-height: 0.5;
  color: #88715b;
  font-family: "Lora", serif;
  font-weight: 600;
  line-height: 0.9;
}

.contenedor__reserva {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffd5;
  background: #88715b;
  padding: 0.625rem 1.25rem;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
  transition: 0.3s;
}

.contenedor__reserva:hover {
  color: #ccab8f;
  background: #ffffd5;
  transition: 2s ease;
}

.contenedor__contenido {
  width: 100%;
  max-width: 80rem;
}

.contenedor__img {
  width: 100%;
  max-width: 70rem;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    text-align: center;
  }

  .contenedor__titulo {
    font-size: 2.5rem;
    padding: 1rem;
  }

  .contenedor__titulo h2 {
    font-size: 2.5rem;
  }

  .contenedor__titulo p {
    font-size: 1.5rem;
  }

  .contenedor__reserva {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  .contenedor__titulo h2 span {
    padding: 0.5rem;
  }

  .contenedor__contenido {
    max-width: 100%;
  }

  .contenedor__img {
    max-width: 100%;
  }
}

/* MAIN  */
/* CARDS */

.titulo__cards {
  text-transform: uppercase;
  color: #88715b;
  font-family: "Lora", serif;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
}

.contenedor__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card__imagen {
  width: 100%;
  height: auto;
}

.card__contenido {
  padding: 20px;
}

.card__titulo {
  font-size: 1.5rem;
  color: #88715b;
  font-family: "Lora", serif;
}

.card__texto {
  font-size: 1rem;
  color: #818181;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

.card__link {
  display: inline-block;
  color: #88715b;
  text-decoration: none;
  font-weight: bold;
}

.card__link:hover {
  text-decoration: underline;
}

/* LIGHTBOX */

.seccion__galeria {
  background-color: rgb(36, 34, 34);
  padding: 2rem 0;
}

.contenedor__galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor__galeria--texto {
  font-size: 1rem;
  color: #818181;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin: 2rem;
}

h3 {
  text-transform: uppercase;
  color: #88715b;
  font-family: "Lora", serif;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
}

.gallery {
  display: flex;
  gap: 5rem;
  margin: 0.5rem 0rem 5rem 0rem;
}

.gallery-item {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
  border-radius: 2rem;
  background: #88715b;
  box-shadow: 3px 3px 9px #7a551c, -3px 3px 9px #88715b;
}

.gallery-item:hover {
  transform: translateY(-10px);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Media query para pantallas pequeñas */
@media (max-width: 820px) {
  .lightbox-content {
    width: 90%;
    max-width: 90%;
  }

  .close {
    font-size: 30px;
    top: 10px;
    right: 20px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
  }
}

/* TABS */

.seccion__tabs {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.contenedor__tabs {
  width: 90%;
  max-width: 800px;
  font-family: Arial, sans-serif;
}

.tabs__texto {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #818181;
  text-align: justify;
  font-size: 1rem;
}

.ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.li {
  padding: 0.9rem 1.25rem;
  cursor: pointer;
  color: whitesmoke;
  transition: background-color 0.3s ease;
  background-color: #555;
  font-family: "Lora", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
}

.li.activo {
  background-color: #7a551c;
}

.li:hover {
  background-color: #555;
}

.subcontenedor {
  padding: 1.25rem;
  background-color: #444141;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.bloque {
  display: none;
}

.bloque.activo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
  padding: 1rem;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .contenedor__tabs {
    width: 90%;
  }

  .li {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .subcontenedor {
    padding: 1rem;
  }

  .tab-image {
    max-width: 90%;
  }
}

/* CARROUSEL DE IMAGENES */

.titulo__cards--carousel {
  color: #88715b;
  font-family: "Lora", serif;
  font-size: 2rem;
  margin: auto;
  padding: 2rem;
}

.carousel-seccion {
  background-color: rgb(36, 34, 34);
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagen {
  width: 65%;
  height: 40rem;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
}

#atras,
#delante {
  background-color: #7a551c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  transition: background-color 0.3s;
}

.carousel-controls {
  text-align: center;
  margin: 0rem 0rem 2.5rem 0rem;
}

#stop {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.circles-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

.botonCirculo {
  background-color: #ddd;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.botonCirculoActivo {
  background-color: #7a551c;
}

.botonCirculo:hover {
  background-color: #bbb;
  transform: scale(1.1);
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  #imagen {
    width: 90%;
    max-width: 90%;
  }

  #atras,
  #delante {
    font-size: 16px;
    padding: 8px;
    margin: 5px;
  }

  .circles-container {
    margin: 0.5rem 0rem;
  }

  .botonCirculo {
    padding: 0.8rem;
  }

  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* RESERVA */

.seccion-reserva {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../media/index/backgroun-reserva.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
}

.formulario-reserva {
  width: 40rem;
  max-width: 90%;
  padding: 2.5rem 3rem;
  margin: 2rem;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "Lora", serif;
  color: #fff;
}

.formulario-reserva h2 {
  margin-bottom: 20px;
}

.formulario-reserva form {
  display: grid;
  gap: 10px;
}

.formulario-reserva .input-group {
  display: grid;
  gap: 5px;
}

.formulario-reserva label {
  font-weight: bold;
}

.formulario-reserva input[type="text"],
.formulario-reserva input[type="email"],
.formulario-reserva input[type="tel"],
.formulario-reserva input[type="date"],
.formulario-reserva input[type="time"],
.formulario-reserva input[type="number"],
.formulario-reserva textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #7f7d7d;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  background-color: #444;
}

.formulario-reserva button {
  width: 100%;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cupon {
  width: 100%;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario-reserva button:hover {
  background-color: #777;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .formulario-reserva {
    padding: 2rem;
  }

  .formulario-reserva input[type="text"],
  .formulario-reserva input[type="email"],
  .formulario-reserva input[type="tel"],
  .formulario-reserva input[type="date"],
  .formulario-reserva input[type="time"],
  .formulario-reserva input[type="number"],
  .formulario-reserva input[type="file"] {
    font-size: 12px;
  }
}

/* TESTIMONIOS */

.testimonios {
  margin: 5rem 0.5rem 5rem 0.5rem;

  text-align: center;
}

.testimonios h2 {
  text-transform: uppercase;
  color: #88715b;
  font-family: "Lora", serif;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
}

.testimonios-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonio {
  width: 18.75rem;
  margin: 1.25rem;
  padding: 1.25rem;
  background-color: #444141;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.testimonio-avatar img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.testimonio-content h3 {
  font-size: 1.5rem;
}

.testimonio-content p {
  font-size: 1rem;
  color: #818181;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

.testimonio-rating {
  font-size: 1.5rem;
}

/* FOOTER */

.footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.footer__logo {
  font-size: 3rem;
  font-family: "Lora", serif;
  color: #dad7cd;
  background: #88715b;
  font-weight: 700;
  text-decoration: none;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 1rem;
  color: #88715b;
  font-family: "Lora", serif;
  line-height: 0.9;
}

.footer__links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.social-icon {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer__links,
  .footer__social {
    margin: 1rem 0;
  }

  .footer__logo a {
    margin-bottom: 1rem;
    pointer-events: none;
    cursor: default;
  }

  .footer__links a,
  .social-icon {
    margin: 5px;
    pointer-events: none;
    cursor: default;
  }

  .footer__copy p {
    font-size: 0.8rem;
  }
}
